body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    max-width:80%;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
    justify-content: space-between;
}

.esquerda  {
    display: flex;
    gap: 10px;
   flex-direction: column;
   flex: 2;
}

.direita  {
    display: flex;
    gap: 10px;
   flex-direction: column;
   flex: 1;
}

.parte3  {
    display: flex;
    gap: 10px;
   flex-direction: row;
}


input{
    padding: 10px;
}

label:hover{
    cursor: pointer;
}

button{
    padding: 10px;
    width: 200px;
}

button:hover{
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: #666;
}

input{
    display: flex;
    flex-direction: column;
}

