body{
    background-color: rgb(162, 0, 255);
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 50px;
}