body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    max-width:80%;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
}

button{
    padding: 10px;
}

button:hover{
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: #666;
}

/* Filhos do elemento section */
div{
    display: flex;
    gap: 10px;
}

section{
    display: flex;
    justify-content: space-between;
}

#tituloCombustivel{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#resultado{
    display: none;
}

input{
    padding: 10px;
}

label:hover{
    cursor: pointer;
}
