form, #form-pedido {
  max-width: 60%;
}

body {
  display: flex;
  justify-content: center;
}

#fieldset-cliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

#cpf {
  max-width: 20%;
}

#fieldset-endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  max-width: 50%;
}

#uf, #numero {
  max-width: 10%;
}

#div-cep, #div-logradouro #div-numero, #div-bairro, #complemento-container  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#div-complemento{
  display: flex;
  gap: 10px;

}


#complemento-container{
  width: 100%;
}

#fieldset-produto{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 18px;
  max-width: 50%;
  
}

#quantidade, #valor {
  max-width: 30%;

}

#div-pedido {
      display: flex;
  flex-direction: row;


  gap: 8px;
  max-width: 300%;

}

#fieldset-itens-comprados {
  
  max-height: 82.5%;
}


#relacao-itens {
  display: grid;
  grid-template-columns: (auto 300px 80px);
  gap: 10px;
  text-align: center;
}

.qtd-item {
  grid-column: 1;
}

.nome-item {
  grid-column: 2;
}

.preco-item {
  grid-column: 3;
}


